@font-face {
    font-family: "iAWriterQuattroSBold";
    src: url("../fonts/IAWriterQuattroS-Bold.eot") format("eot"),
    url("../fonts/IAWriterQuattroS-Bold.woff") format("woff"),
    url("../fonts/IAWriterQuattroS-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iAWriterQuattroSBoldItalic";
    src: url("../fonts/IAWriterQuattroS-BoldItalic.eot") format("eot"),
    url("../fonts/IAWriterQuattroS-BoldItalic.woff") format("woff"),
    url("../fonts/IAWriterQuattroS-BoldItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iAWriterQuattroSItalic";
    src: url("../fonts/IAWriterQuattroS-Italic.eot") format("eot"),
    url("../fonts/IAWriterQuattroS-Italic.woff") format("woff"),
    url("../fonts/IAWriterQuattroS-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iAWriterQuattroSRegular";
    src: url("../fonts/IAWriterQuattroS-Regular.eot") format("eot"),
    url("../fonts/IAWriterQuattroS-Regular.woff") format("woff"),
    url("../fonts/IAWriterQuattroS-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body {
    width: 100%;
    background-color: #fafafa;
    font-family: iAWriterQuattroSRegular, Helvetica,Arial, sans-serif
}

h1 {
    font-size: 30px;
    line-height: 1.1;
    font-family: iAWriterQuattroSBold, Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 24px;
    line-height: 1.3333333333;
}

h3 {
    font-size: 21px;
    line-height: 1.7;
}

p, ul, ol {
    font-size: 18px;
    line-height: 1.8;
}

a,
a:visited,
a:hover {
    color: #4079B6;
}

a:hover {
    text-decoration: underline;
}


p+h1, p+h2, p+h3, p+h4, p+h5, p+h6 {
    margin-top: 2em;
}

.header {
    height: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #fff;
    text-align: right;
    border-bottom: 1px solid #e4e4e4;
}

.header .logo {
    margin-top: -4px;
    height: 61px;
    width: 294px;
    float: left;
    background-size: 100%;
    background-image: url(../images/sergiodelamo.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -999em;
    text-align: left;
}

.header nav li {
    display: inline;
    margin-left: 8px;
    padding: 0;
    font-family: iAWriterQuattroSRegular,Helvetica,Arial,sans-serif;
}

.header nav li a {
    color: #222222;
}
.header nav li a {
    text-decoration: none;
}
.wrapper {
    max-width: 864px;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: auto;
    margin-left: auto;
}

.wrapper article img {
    width: 100%;
}

.container {
    margin: 48px 0;
}
