<!doctype html>
<html lang="[%lang]">
<head>
    <title>[%title]</title>
    <meta name="keywords" content="[%keywords]">
    <link rel="apple-touch-icon" sizes="64x64" href="https://images.sergiodelamo.com/favicon.jpg">
    <meta name="author" content="[%author_name]">
    <meta name="description" content="[%summary]">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="date" content="[%date_published]" />
    <meta name="last-modified" content="[%date_modified]" />
    <meta name="robots" content="[%robots]"/>
    <meta name="googlebot" content="[%robots]"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="all" href="[%url]/stylesheets/screen.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="[%url]/rss.xml" />
    <link rel="alternate" type="application/json" title="sergiodelamo.com feed" href="[%url]/feed.json" />
    [%twittercard]
    [%HTML header]
    [%CSS]
    [%JAVASCRIPT]
</head>
<body>
<header class="header">
    <div class="wrapper">
        <a accesskey="h" href="[%url]/index.html" title="List of Sergio del Amo Projects" class="logo align-center" rel="home">Sergio del Amo</a>
        <nav class="desktop">
            <ul>
                <li><a accesskey="b" href="[%url]/blog/index.html">Blog</a></li>
                <li><a accesskey="p"  href="[%url]/projects.html">Projects</a></li>
                <li><a accesskey="c"  href="[%url]/contact.html">Contact</a></li>
                <li><a accesskey="t" href="[%url]/blog/tag/index.html">Tags</a></li>
                <li><a accesskey="s" href="[%url]/blog/tag/talk.html">Speaking</a></li>
                <li><a accesskey="m" href="[%url]/me.html">Me</a></li>
                <li><a href="[%url]/certificates.html">Certs</a></li>
                <li><a accesskey="c" href="https://www.getmanfred.com/profile/sdelamo">CV</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="wrapper">
    <div class="container">
        <article data-document>&nbsp;</article>
    </div>
</div>
<footer>
    <nav class="mobile align-center">
        <ul>
            <li><a accesskey="h" href="[%url]/index.html">Home</a></li>
            <li><a accesskey="b" href="[%url]/blog/index.html">Blog</a></li>
            <li><a accesskey="p"  href="[%url]/projects.html">Projects</a></li>
            <li><a accesskey="c"  href="[%url]/contact.html">Contact</a></li>
            <li><a accesskey="t" href="[%url]/blog/tag/index.html">Tags</a></li>
            <li><a accesskey="s" href="[%url]/blog/tag/talk.html">Speaking</a></li>
            <li><a accesskey="m" href="[%url]/me.html">Me</a></li>
            <li><a href="[%url]/certificates.html">Certs</a></li>
            <li><a accesskey="c" href="https://www.getmanfred.com/profile/sdelamo">CV</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>
