<!doctype html>
<html>
<head>
    <title>[%title]</title>
    <meta name="keywords" content="[%keywords]">
    <meta name="description" content="[%description]">
    <meta name="date" content="[%date]" />
    <meta name="robots" content="[%robots]"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="all" href="[%url]/stylesheets/iawriter.css">
    <link rel="stylesheet" media="all" href="[%url]/stylesheets/prism.css">
    <script src="[%url]/javascripts/prism.js"></script>
    <link rel=alternate type=application/rss+xml title=RSS href=[%url]/rss.xml />
</head>
<body>
<header class="header">
    <div class="wrapper">
        <a href="/index.html" title="Sergio del Amo Home" class="logo" rel="home">Sergio del Amo</a>
        <nav>
            <ul>
                <li><a href="/blog/index.html">Archive</a></li>
                <li><a href="/contact.html">Contact</a></li>
                <li><a href="/images/cvSergioDelAmo.jpg">CV</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="wrapper">
    <div class="container">
        <article data-document>&nbsp;</article>
    </div>
</div>
</body>
</html>
