<!doctype html>
<html>
<head>
    <title>[%title]</title>
    <meta name="keywords" content="[%keywords]">
    <meta name="description" content="[%description]">
    <meta name="date" content="[%date]" />
    <meta name="robots" content="[%robots]"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="all" href="[%url]/stylesheets/screen.css">
    <link rel="stylesheet" media="all" href="[%url]/stylesheets/prism.css">
    <script src="[%url]/javascripts/prism.js"></script>
    <link rel=alternate type=application/rss+xml title=RSS href=[%url]/rss.xml />
    [%HTML header]
    [%CSS]
    [%JAVASCRIPT]
</head>
<body>
<header class="header">
    <div class="wrapper">
        <a href="[%url]/index.html" title="List of Sergio del Amo Projects" class="logo align-center" rel="home">Sergio del Amo</a>
        <nav class="desktop">
            <ul>
                <li><a href="[%url]/blog/index.html">Blog</a></li>
                <li><a href="[%url]/index.html">Projects</a></li>
                <li><a href="[%url]/contact.html">Contact</a></li>
                <li><a href="[%url]/blog/tag/slides.html">Slides</a></li>
                <li><a href="[%url]/cv.html">CV</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="wrapper">
    <div class="container">
        <article data-document>&nbsp;</article>
    </div>
</div>
<footer>
    <nav class="mobile align-center">
        <ul>
            <li><a href="[%url]/blog/index.html">Blog</a></li>
            <li><a href="[%url]/index.html">Projects</a></li>
            <li><a href="[%url]/contact.html">Contact</a></li>
            <li><a href="[%url]/blog/tag/slides.html">Slides</a></li>
            <li><a href="[%url]/cv.html">CV</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>
